* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}


/* GRAPHIC  HERO  SECTION  */

.grahic-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  height: 75svh;
  gap: 5rem;
  padding: 5rem 0;
  background-color: #FDE2F3;
}


.graphic-hero-left {
  margin: 2rem;
  width: 30%;
}


.graphic-brif {
  color: #DB50F0;
  background-color: #F9D2F2;
  width: max-content;
  padding: 6px 16px;
  margin: 0 0 12px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 700;
  font-family: sans-serif;
}

.graphic-hero-head {
  padding: .3rem;
  font-size: 48px;
  font-family: var(--font-family);
  font-weight: 700;
  margin: 0 0 12px;
}

.graphic-col {
  background-image: linear-gradient(45deg, #D342E8, #A31DB1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.graphic-text {
  color: #4B5563;
  width: 90%;
  padding: .3rem;
  margin: 0 0 16px;
  font-size: 18px;
}

.graphic-btns {
  padding: .3rem;
  display: flex;
  flex-direction: row;
  gap: .9rem;
}

.graphic-btn,
.graphic-btn-two {
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  border-radius: 4px;
}


.graphic-btn {
  background: #D946EF;
  color: #fff;
  transition: background .5s;
}

.graphic-btn:hover {
  color: #D946EF;
  background: #F9FAFB;
}

.graphic-btn-two {
  background: #F9FAFB;
  color: #4B5563;
  transition: background .5s;
}

.graphic-btn-two:hover {
  background: #7a2786;
  color: #F9FAFB;
}

.graphic-hero-right>img {
  height: 500px;
  filter: drop-shadow(0px 0px 12px #0000004b);
}



/* DESING SERVICES SECTION */


.desing-services-section {
  margin: 0 312px;
  padding: 32px;
}

.design-ser-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.desing-ser-head {
  padding: .3rem;
  font-size: 38px;
  font-family: var(--font-family);
  font-weight: 700;
  margin: 0 0 16px;
}

.design-ser-text {
  color: #4B5563;
  width: 70%;
  padding: .3rem;
  margin: 0 0 32px;
  font-size: 17px;
  text-align: center;
}


.design-ser-box {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.des-ser-box {
  max-width: 550px;
  margin: .5rem;
  padding: 2rem;
  border-radius: 12px;
  background: linear-gradient(25deg, #e81aff, #b71ccf);
}


.des-ser-box>i {
  font-size: 22px;
  margin-bottom: 1rem;
  color: #FEF9FE;
  background: #d987e4c5;
  padding: .6rem;
  border-radius: 6px;
}

.des-ser-box>h3,
.des-ser-box>p {
  color: #FEF9FE;
}


/* OUR PORTFOLIO SECTION */
.desPortfolio {
  max-width: 1200px;
  margin: 0 auto;
}

.desPortTop {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portHead {
  padding: .3rem;
  font-size: 38px;
  font-family: var(--font-family);
  font-weight: 700;
  margin: 0 0 12px;
}


.porText {
  color: #4B5563;
  width: 70%;
  padding: .3rem;
  margin: 0 0 32px;
  font-size: 17px;
  text-align: center;
}




.desMinBox {
  width: 300px;
  margin: 1rem;
  height: 300px;
  display: flex;
  padding: .5rem;
  border-radius: 6px;
  justify-content: end;
  flex-direction: column;
  align-items: flex-start;
  background: url('../images/developbg.png');
}