@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
  --primary: #5fa4f9;
  --second-color: #1565c0;
  --icon-colors: #2563EB;
}